#caixonazona{
width: 100%;
height: 815px;
display: flex;
flex-direction: row;

}

#caixona{
width: 1450px;
height: 819px;

}

#audiovisual{
width: 1450px;
height: 819px;
object-fit: cover;

}

#invencible{
width: 70px;
height: 819px;
display: flex;
justify-content: right;


}